{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_product_social_bookmarks.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_PRODUCT_SOCIAL_BOOKMARKS_BOX_TITLE') }}</li>
<li>
<ul class="nav nav-list" style="margin-left:-15px;">
{% for key,value in data %}
<li><a href="{{ value['link'] | raw}}" {% if value['target'] != null %}target="{{value['target']}}"{% endif %}><i class="{{ value['icon'] }}"></i> {{ value['title'] }}</a></li>
{% endfor %}
</ul>
</li>