{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/classic/twig_bm_reviews.html.twig #}
<li class="nav-header">{{ constant('MODULE_BOXES_REVIEWS_TITLE') }}</li>
<li>
<ul class="nav nav-list text-center">
{% if data|length > 0 %}
{% for reviewsbox in data|slice(0,1) %}              
<li><h5>{{ reviewsbox['products_name'] }}</h5></li>    
<li><a href="{{ link('products', ['reviews=',reviewsbox['reviews_id'],'&id=',reviewsbox['products_id']]|join) | raw }}"><img src="{{ [constant('DIR_WS_IMAGES'),reviewsbox['products_image']]|join}}" alt="{{ reviewsbox['products_name'] }}" width="{{ constant('SMALL_IMAGE_WIDTH') }}" height="{{ constant('SMALL_IMAGE_HEIGHT') }}" /></a></li>
<li>{{ reviewsbox['reviews_text']|breakstring(15, '-<br />') |raw }}</li>  
<li><h4>{{ constant(['TWIG_RATING_',reviewsbox['reviews_rating'] | round_rating]|join) | raw}}</h4></li>
{% endfor %}          
{% else %}
<li>{{ constant('MODULE_BOXES_REVIEWS_BOX_NO_REVIEWS') }}</li>
</ul>
</li>
{% endif %}