{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/modules/boxes/view/template/fullpage/twig_bm_manufacturer_info.html.twig #}
{% if data|length > 0 %}
<div class="product-boxe">
<h4 class="text-info">{{ constant('MODULE_BOXES_MANUFACTURER_INFO_TITLE') }}</h4>    
      <ul class="nav nav-list">
        {% for mb in data %}
        <li>{{ image([constant('DIR_WS_IMAGES') , mb['manufacturers_image']]|join, mb['manufacturers_name'],'','','class="img-polaroid"') | raw }}</li>
        {% if mb['manufacturers_url'] != null %}
            <li><a href="{{ link(null, ['redirect&manufacturer=' , mb['manufacturers_id']]|join) |raw}}" target="_blank">{{ constant('MODULE_BOXES_MANUFACTURER_INFO_BOX_HOMEPAGE') |format(mb['manufacturers_name']) }}</a></li>
        {% endif %}
        <li><a href="{{ link(null, ['manufacturers_id=' , mb['manufacturers_id']]|join) | raw }}">{{ constant('MODULE_BOXES_MANUFACTURER_INFO_BOX_OTHER_PRODUCTS') }}</a></li>
        {% endfor %}  
      </ul>
</div>
<hr>
{% endif %}