{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/account/view/template/classic/password_forgotten.html.twig #}
{% extends "base.html.twig" %}
{% block head_javascript %}
<script src="ext/jquery/jquery.validate.js"></script>
{% endblock %}
{% import "forms.html.twig" as forms %}
{% block appcontent %}
<div id="account" class="span{{ GridContentWidth}}">    
    <h1 class="title-app">{{ constant('HEADING_TITLE_PASSWORD_FORGOTTEN') }}</h1>
{{ messagestack('password_forgotten') | raw }}
    <div class="contentContainer">
        <div class="contentText well">
            <div>{{ constant('TEXT_MAIN_PASSWORD_FORGOTTEN') | raw }}</div>
        </div>
    </div>
{{ form('password_forgotten', link('account', 'password&forgotten&process', 'SSL'), 'post', 'id="password_forgotten" class="form-inline text-center"', 'true') | raw }}
    <div id="divemail_address">
        <label class="control-label" for="email_address">{{ constant('ENTRY_EMAIL_ADDRESS') }}</label>
        <div   class="input-append">
{{ forms.inputwithicon('email_address', 'icon-fa-envelope', 'input-prepend', 'input-large', '', 'text', constant('PLACEHOLDER_EMAIL_ADRESS')) }}
                <button class="btn btn-primary" type="submit"><i class="icon-fa-ok-sign icon-white"></i> {{ constant('IMAGE_BUTTON_CONTINUE') }}</button>
            </div>
        </div>    
    </form>

<div class="buttonSet">
    <a href="{{ link('account', 'login', 'SSL') | raw}}" class="btn"><i class="icon-fa-chevron-left"></i>  {{ constant('IMAGE_BUTTON_BACK') }}</a>
</div>
</div>
<div id="form-errors" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="text-error"><i class="icon-fa-warning-sign"></i> {{ constant('CREATE_ACCOUNT_FORM_ERROR_TITLE') }}</h3>
    </div>
    <div class="modal-body">
        <p id="summary"></p>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn">Close</button>
    </div>
</div><!-- end modal -->
<script>
    var validator = $("#password_forgotten").bind("invalid-form.validate", function() {
        $("#summary").html("<strong>{{ constant('JS_ERROR') | raw }}</strong>");
        $("#form-errors").modal("show");
    }).validate({
        errorClass: "alert alert-danger",
        rules: {
            email_address: {required: true, minlength: {{ constant('ENTRY_EMAIL_ADDRESS_MIN_LENGTH') }}, email: true}
        },
        messages: {
            email_address: {required: '{{ constant('CREATE_ACCOUNT_FIELD_REQUIRED') }}', minlength: '{{ constant('ENTRY_EMAIL_ADDRESS_ERROR') }}', email: '{{ constant('ENTRY_EMAIL_ADDRESS_CHECK_ERROR') }}'}
        },
        errorPlacement: function(error, element) {
            error.insertAfter("#div" + element.attr("name"));
        }
    });
    </script>
{% endblock %}