{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/products/view/template/fullpagecenter/reviews_info_base.html.twig #}
{% extends "base.html.twig" %}
{% block stylesheet %}
<link rel="stylesheet" href="ext/bootstrap/css/bootstrap-lightbox.min.css" />
{% endblock %}
{% block head_javascript %}
<script src="ext/bootstrap/js/bootstrap-lightbox.js"></script>
{% endblock %}
{% block appcontent %}
{% for reviewdetail in review_data %}
<div id="bodyContent" class="span{{ GridContentWidth}}">
<div class="row-fluid">
<div class="page-header">
{% block title %}
<h2><strong><a href="{{ link('products', ['id=',reviewdetail['products_id']]|join) | raw}}">{{ reviewdetail['products_name'] }}</a></strong>
{% endblock %}
{% block specialprice %}
{% if reviewdetail['specials_new_products_price']  != null %}
<strong class="pull-right muted"><del>{{ reviewdetail['products_price']|display_price(reviewdetail['products_tax_class_id']) }}</del></strong><br />
<strong class="pull-right text-error">{{ reviewdetail['specials_new_products_price']|display_price(reviewdetail['products_tax_class_id']) }}</strong>
{% else %}
<strong class="pull-right text-success">{{ reviewdetail['products_price']|display_price(reviewdetail['products_tax_class_id']) }}</strong>
{% endif %}
{% endblock specialprice %}
</h2>
{% if reviewdetail['specials_new_products_price']  != null %}
<br />
{% endif %}
<h3 class="text-left">
{% if reviewdetail['products_model'] != null %}
        <small>{{ constant('TWIG_PRODUCT_MODEL') }} : <em>{{ reviewdetail['products_model'] }}</em></small>
{% endif %}
<span class="pull-right">{{ constant(['TWIG_RATING_',reviewdetail['reviews_rating'] | round_rating]|join) | raw}}</span></h3>
</div><!-- end page-header -->
</div>
<div class="row-fluid">
{% block image %}
<div class="span2 text-center">
<span class="thumbnail">
{{ image([constant('DIR_WS_IMAGES'),reviewdetail['products_image']]|join) | raw}}
</span>
{% if reviewdetail['image'] != null %}
<br /><a class="btn btn-small" data-toggle="lightbox" href="#Lightbox"><i class=" icon-fa-picture"></i> {{ constant('PRODUCTS_LISTING_PRODUCT_BUTTON_OPEN_IMAGE') }}</a>
<div id="Lightbox" class="lightbox hide fade" role="dialog" aria-hidden="true">
<div class="lightbox-header">
<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
</div>
<div class="lightbox-content">
{{ image([constant('DIR_WS_IMAGES'),reviewdetail['image']]|join, '', '', '') | raw}}
<div class="lightbox-caption"><p>{{ reviewdetail['products_name'] }}</p></div>
</div>
</div>
{% endif %}
</div><!-- end block image -->
{% endblock image %}
<div>
{% block review_text %}
<p class="well offset2" style="min-height:60px;padding-bottom:35px;">
<i class="icon-fa-quote-left icon-fa-4x pull-left icon-fa-muted"></i>
{{ reviewdetail['reviews_text']|escape|raw }}
<i class="icon-fa-quote-right icon-fa-4x pull-right icon-fa-muted"></i>
</p>
<div class="clearfix"></div>
{% endblock review_text %}
{% block review_button %}
<p class="pull-right">{{ button(constant('IMAGE_BUTTON_IN_CART'), 'shopping-cart', link('cart', ['add&id=',reviewdetail['products_id'] , '&formid=' , md5]|join | raw), 'success') | raw }}</p>
{% endblock %}
</div>
</div>
<div class="row-fluid">
<div>
<p class="pull-right text-info">
<i class="icon-fa-user"></i> {{ constant('TEXT_REVIEW_BY') |format(reviewdetail['customers_name']) }} |
<i class="icon-fa-eye-open"></i> {{ constant('TEXT_REVIEWS_SEE') | format(reviewdetail['reviews_read']) }} |
<i class="icon-fa-calendar"></i> {{ constant('TEXT_REVIEW_DATE_ADDED') | format(reviewdetail['date_added'] |date("m/d/Y")) }}
</p>
{% block reviewsnavbut %}
<div class="clearfix"></div>
<div class="form-actions">
<span class="pull-right">{{ button(constant('IMAGE_BUTTON_WRITE_REVIEW'), 'comment', link('products', ['reviews&new&id=',reviewdetail['products_id']]|join), 'warning') | raw}}</span>
{{ button(constant('IMAGE_BUTTON_BACK'), 'arrow-left', link('products', ['reviews&id=',reviewdetail['products_id']]|join) ) | raw }}
</div>
{% endblock %}
</div>
</div>
</div>
{% endfor %}
{% endblock %}                    