{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/index/view/template/fullpagecenter/categories_base.html.twig #}
{% extends "base.html.twig" %}
{% block appcontent %}
<div style="margin-top:20px;">
<img class="img-polaroid image_categorie" src="{{ [constant('DIR_WS_IMAGES'), cat_image]|join }}" alt="{{ cat_name }}" />	
<h2 class="title" style="line-height:65px">{{ cat_name }}</h2>
<hr>
</div>
{% set row = 2 %}
<ul class="thumbnails row-fluid">
{% for i in data %}
<li class="span{{ GridContainerWidth / row }}">
    <div class="thumbnail">
        <h5 class="text-center">{{ i['cat_name'] }}</h5>
        <p class="text-center">
            <a href="{{link(null, i.cat_link) | raw }}"><img src="{{ [constant('DIR_WS_IMAGES'), i.cat_image ]|join }}" alt="{{ i.cat_name }}" /></a>
        </p>
    </div>
</li>
{% if loop.index is divisibleby(row) %}
</ul><ul class="thumbnails row-fluid">
{% endif %}
{% endfor %}
</ul>

{% endblock %}