{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file: includes/apps/index/view/template/classic/category_mice.html.twig #}
{% extends "base.html.twig" %}
{% block appcontent %}
<div id="bodyContent" class="span{{ GridContentWidth}}">
<h2 class="title">{{ cat_name }}<img class="img-polaroid image_categorie pull-right" src="{{ [constant('DIR_WS_IMAGES'), cat_image]|join }}" alt="{{ cat_name }}" />	
</h2>
<div class="clearfix"></div>
{% set row = 3 %}
<ul class="thumbnails row-fluid">
{% for i in data %}
<li class="span{{ GridContainerWidth / row }}">
    <div class="thumbnail">
        <h5 class="text-center">{{ i['cat_name'] }}</h5>
        <p class="text-center">
            <a href="{{link(null, i.cat_link) | raw }}"><img src="{{ [constant('DIR_WS_IMAGES'), i.cat_image ]|join }}" alt="{{ i.cat_name }}" /></a>
        </p>
    </div>
</li>
{% if loop.index is divisibleby(row) %}
</ul><ul class="thumbnails row-fluid">
{% endif %}
{% endfor %}
</ul>
{{ modulefeatureproducts(29) | raw}}
</div>
{% endblock %}
