{# Copyright (c) 2013 FoxP2; http://www.oscommerce.fr #}
{# file:  includes/apps/info/view/template/classic/contact_success.html.twig #}
{% extends "base.html.twig" %}
{% block appcontent %}
<div id="bodyContent" class="span{{ GridContentWidth}}">
    <h1 class="title-app">{{ constant('HEADING_TITLE_CONTACT') }}</h1>
{{ messagestack('contact') | raw }}
<div class="contentContainer">
  <div class="contentText">
    {{ constant('INFO_CONTACT_SUCCESS') | raw}}
  </div>

  <div class="form-actions">
    <a class="btn pull-right" href="{{ link() | raw }}"><i class="icon-fa-ok-sign"></i>  {{ constant('IMAGE_BUTTON_CONTINUE')}}</a>
  </div>
</div>
</div>
{% endblock %}